{{#with theme_settings}}
        <h5 class="footer-info-heading">Family of Brands</h5>
        <div class="footer-brands-icons">
            <span class="footer-brand-icon"><img src="{{cdn "webdav:img/footer-logo-small.png"}}"></span>
            <span class="footer-brand-icon"><img src="{{cdn "webdav:img/matress-king-logo.png"}}"></span>
            <span class="footer-brand-icon"><img src="{{cdn "webdav:img/matress-warehouse.png"}}"></span>
            <span class="footer-brand-icon"><img src="{{cdn "webdav:img/matress-warehouse1.png"}}"></span>
        </div>
{{/with}}
