// =============================================================================
// ACTION BAR (CSS)
// =============================================================================


.actionBar-section {

    .form-field {
        background-color: $input-bg-color;
        overflow: hidden;
	    margin-bottom: 0;

        // scss-lint:disable NestingDepth
        // scss-lint:enable NestingDepth
    }

    .form-label {
	    color: #252525;
        font-size: $actionBar-form-label-fontSize;
        line-height: $actionBar-form-label-lineHeight;
        margin-bottom: 0;
        padding-left: $actionBar-form-label-padding;
	    text-transform: uppercase;
    }

    .form-input,
    .form-select {
	    color: #c8cdce;
	    border: $actionBar-form-field-border;
        padding-left: $actionBar-form-input-padding;
	    border-color: #c8cdce;
	    border-radius: 50px;
        width: auto;
    }

    .form-label,
    .form-input,
    .form-select {
        display: inline-block;
    }

    .form-select {
	    color: #c8cdce;
        height: $input-small-height - remCalc($input-border-width * 2);
	    padding-left: 10px;
    }

	@include breakpoint("small") {
		float: right;
	}
}

.actionBar {
	.pagination-items-count {
		line-height: 2.2;
		font-size: 14px;
	}
}


