<div id="sizes" class="modal modal--large" data-reveal>
    <div class="modal-header">
        <h2 class="modal-header-title">BEDDING SIZES & DIMENSIONS</h2>
        <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
            <span aria-hidden="true">&#215;</span>
        </a>
    </div>
    <div class="modal-body">
        <div class="size-list">
            <div class="size-row">
                <div class="size">
                    <img src="{{cdn 'img/sizesChart/size-twin.jpg'}}" alt="Twin">
                </div>
                <div class="size">
                    <img src="{{cdn 'img/sizesChart/size-twin-xl.jpg'}}" alt="twin-xl">
                </div>
                <div class="size">
                    <img src="{{cdn 'img/sizesChart/size-full.jpg'}}" alt="full">
                </div>
                <div class="size">
                    <img src="{{cdn 'img/sizesChart/size-full-xl.jpg'}}" alt="full-xl">
                </div>
            </div>
            <div class="size-row">
                <div class="size">
                    <img src="{{cdn 'img/sizesChart/size-queen.jpg'}}" alt="queen">
                </div>
                <div class="size">
                    <img src="{{cdn 'img/sizesChart/size-king.jpg'}}" alt="king">
                </div>
                <div class="size">
                    <img src="{{cdn 'img/sizesChart/size-split-king.jpg'}}" alt="split-king">
                </div>
                <div class="size">
                    <img src="{{cdn 'img/sizesChart/size-split-king-a.jpg'}}" alt="split-king-a">
                </div>
            </div>
            <div class="size-row">
                <div class="size last-size">
                    <img src="{{cdn 'img/sizesChart/size-california-king.jpg'}}" alt="california-king">
                </div>
            </div>
        </div>
    </div>
</div>
