<ul class="tabs" data-tab>
    <li class="tab is-active">
        <a class="tab-title" href="#tab-description">{{lang 'products.description'}}</a>
    </li>
    <li class="tab">
        <a class="tab-title" href="#tab-specification">Specification</a>
    </li>
    {{#if product.warranty}}
        <li class="tab">
            <a class="tab-title" href="#tab-warranty">{{lang 'products.warranty'}}</a>
        </li>
    {{/if}}
    {{!#all settings.show_product_reviews theme_settings.show_product_reviews_tabs product.reviews.total}}
        <li class="tab">
            <a class="tab-title productView-reviewTabLink" href="#tab-reviews">{{lang 'products.reviews.header' total=product.reviews.total}}</a>
        </li>
    {{!/all}}
</ul>
<div class="tabs-contents">
    <div class="tab-content is-active" id="tab-description">
        <div class="description-container">
            <div class="product-description">
                {{{product.description}}}
                {{{snippet 'product_description'}}}
            </div>
            <div class="description-services">
                <div class="promo-item">
                    <a href="#" class="promo-item-logo days-delivery"></a>
                    <div class="promo-item-content">
                        <a href="#">120 day</a>
                        <a href="#">Price Promise</a>
                    </div>
                </div>
                <div class="promo-item">
                    <a href="#" class="promo-item-logo shipping"></a>
                    <div class="promo-item-content">
                        <a href="#">Free</a>
                        <a href="#">Delivery</a>
                    </div>
                </div>
                <div class="promo-item">
                    <a href="#" class="promo-item-logo discount"></a>
                    <div class="promo-item-content">
                        <a href="#">0% APR</a>
                        <a href="#">Financing for 5 Years*</a>
                    </div>
                </div>
                <div class="promo-item">
                    <a href="#" class="promo-item-logo bed"></a>
                    <div class="promo-item-content">
                        <a href="#">120 NIGHT</a>
                        <a href="#">Comfort Promise</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-content" id="tab-specification">
        <table class="specification-table">
            <tr>
                <th>Model</th> <td>FRS</td>
            </tr>
            <tr>
                <th>Specifications</th> <td>10" Profile
                                            Sealy Classic Coil
                                            Sealy Extra Soft Foam
                                            Solid Edge HD System
                                            Tight Top Plush</td>
            </tr>
            <tr>
                <th>Warranty</th> <td>5 Year Warranty</td>
            </tr>
            <tr>
                <th>SKU</th> <td>{{product.sku}}</td>
            </tr>
            <tr>
                <th>Height</th> <td>{{product.height}}</td>
            </tr>
            <tr>
                <th>Depth</th> <td>{{product.depth}}</td>
            </tr>
            <tr>
                <th>Width</th> <td>{{product.width}}</td>
            </tr>
        </table>
    </div>
   {{#if product.warranty}}
       <div class="tab-content" id="tab-warranty">
           {{{product.warranty}}}
       </div>
   {{/if}}
   {{!#all settings.show_product_reviews theme_settings.show_product_reviews_tabs}}
       <div class="tab-content" id="tab-reviews">
           {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
       </div>
   {{!/all}}
</div>
